:root {
    --body-color: #27272a;
    --headings-color: #18181b;
    --primary-color: #499aa2;
    --women-packages-color: #e88f8b;
    --men-packages-color: #5e9072;
    --family-packages-color: #b89c73;
    /* specific packages */
    --covid-package-color: #97d1ce;
    --cardiologic-package-color: #df1d28;
    --women-zone-color: #e88f8b;
    --endocrinology-color: #be6b98;
    --gynecology-color: #f2bab8;
    --superman-color: #f3c600;
    --ironman-color: #a50318;
    --zdrowe-serce: #b40219;
    --audyt: #0aa5b7;
  }
  
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }
  html {
    scroll-behavior: smooth;
  }
  
  /* Typography */
  
  body {
    font-family: "Poppins", Arial, sans-serif !important;
    font-size: 1rem;
    line-height: 1.4;
    color: var(--body-color);
    height: 500vh;
  }
  h1,
  h2,
  h3 {
    color: var(--headings-color);
    margin-bottom: 0.625rem;
    line-height: 1.1;
  } /* Rozmiary czcionek dla mniejszych ekranów */
  h1 {
    font-size: clamp(2.2rem, 2rem + 1vw, 2.8rem); /* Wprowadzenie clamp() */
  }
  h2 {
    font-size: clamp(2rem, 1.5rem + 1vw, 2.5rem); /* Wprowadzenie clamp() */
  }
  h3 {
    font-size: clamp(1.2rem, 1rem + 0.5vw, 1.575rem); /* Wprowadzenie clamp() */
  }
  p {
    margin-top: 0;
  } /* Rozmiary czcionek dla większych ekranów */
  @media screen and (min-width: 1024px) {
    body {
      font-size: 1.125rem;
    }
    h1 {
      font-size: clamp(2.3rem, 2.3rem + 1vw, 2.5rem); /* Wprowadzenie clamp() */
    }
    h2 {
      font-size: clamp(2rem, 2rem + 0.5vw, 2.5rem); /* Wprowadzenie clamp() */
    }
    h3 {
      font-size: clamp(1.2rem, 1rem + 0.5vw, 1.5rem); /* Wprowadzenie clamp() */
    }
  }
  .header--color {
    color: var(--primary-color);
  }
  /* Images */
  img {
    width: 100%;
  }
  .img--header {
    border-radius: 100% !important;
    margin-bottom: 0.4rem;
  }
  
  /* Links */
  a {
    text-decoration: none;
  }
  
  /* Buttons */
  .btn {
    cursor: pointer;
    font-size: 1.025rem;
    font-weight: 600;
    text-transform: uppercase;
    white-space: nowrap;
    text-align: center;
    margin: 0.625rem 0;
    padding: 1.25rem 1vw;
    border: 0;
    outline: 0;
    border-radius: 30px;
  }
  .btn .icon {
    vertical-align: center;
    width: 1.25rem;
    height: 1.25rem;
    margin-right: 0.425rem;
  }
  .btn--primary {
    background: var(--primary-color);
    color: #fff;
  }
  .btn--primary:hover {
    background: #418990;
  }
  .btn--women--packages {
    background: var(--women-packages-color);
    color: #fff;
  }
  
  .btn--women--packages:hover {
    background: #cf7f7b;
    color: #e8e8e8;
  }
  .btn--men--packages {
    background: var(--men-packages-color);
    color: #fff;
  }
  .btn--men--packages:hover {
    background: #58866b;
    color: #e8e8e8;
  }
  .btn--family--packages {
    background: var(--family-packages-color);
    color: #fff;
  }
  .btn--family--packages:hover {
    background: #ad936c;
    color: #e8e8e8;
  }
  
  .btn--covid--package {
    background: var(--covid-package-color);
    color: #fff;
  }
  .btn--covid--package:hover {
    background: #7eaeac;
    color: #e8e8e8;
  }
  .btn--cardiologic--package {
    background: var(--cardiologic-package-color);
    color: #fff;
  }
  .btn--cardiologic--package:hover {
    background-color: #c71b24;
    color: #e8e8e8;
  }
  .btn--women--zone--package {
    background: var(--women-zone-color);
    color: #fff;
  }
  .btn--women--zone--package:hover {
    background: #ca7e7a;
    color: #e8e8e8;
  }
  .btn--endocrinology--package {
    background: var(--endocrinology-color);
    color: #fff;
  }
  .btn--endocrinology--package:hover {
    background: #af638d;
    color: #e8e8e8;
  }
  .btn--gynecology--package {
    background: var(--gynecology-color);
    color: #fff;
  }
  .btn--gynecology--package:hover {
    background: #c29492;
    color: #e8e8e8;
  }
  .btn--superman--package {
    background-color: var(--superman-color);
    color: #fff;
  }
  .btn--superman--package:hover {
    background-color: #a18400;
    color: #e8e8e8;
  }
  .btn--ironman--package {
    background-color: var(--ironman-color);
    color: #fff;
  }
  .btn--ironman--package:hover {
    background-color: #810415;
    color: #e8e8e8;
  }
  .btn--zdrowe--serce {
    background-color: var(--zdrowe-serce);
    color: #fff;
  }
  .btn--zdrowe--serce:hover {
    background-color: #a70319;
    color: #e8e8e8;
  }
  .btn--audyt {
    background-color: var(--audyt);
    color: #fff;
  }
  .btn--audyt:hover {
    background-color: #0996a6;
    color: #e8e8e8;
  }
  
  .btn--outline {
    background: #fff;
    color: var(--headings-color);
    border: 2px solid var(--headings-color);
  }
  .btn--outline:hover {
    background: var(--headings-color);
    color: #fff;
  }
  .btn--stretched {
    padding-left: 3.75rem;
    padding-right: 3.75rem;
  }
  .btn--block {
    width: 100%;
    display: inline-block;
  }
  
  @media screen and (min-width: 1024px) {
    .btn {
      font-size: 0.9375rem;
    }
  }
  /* Icon */
  .icon {
    width: 100px;
    height: 100px;
    border-radius: 0;
    object-fit: contain;
  }
  .icon--small {
    width: 30px;
    height: 30px;
  }
  .material-symbols-outlined {
    font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 24;
  }
  
  /* Grids */
  .grid {
    display: grid;
  }
  .grid__center {
    align-items: center;
    justify-items: center;
    align-content: space-between;
  }
  .grid--gap {
    gap: 1rem;
  }
  @media screen and (min-width: 768px) {
    .grid--1x2 {
      grid-template-columns: repeat(2, 1fr);
    }
  }
  @media screen and (min-width: 1024px) {
    .grid--1x3 {
      grid-template-columns: repeat(3, 1fr);
    }
  }
  /* Blocks */
  .block {
    --padding-vertical: 0.75rem;
    padding: var(--padding-vertical) 0.25rem;
  }
  .block__header {
    text-align: center;
    margin: 2.5rem 0 1rem;
  }
  .block__heading {
    margin-top: 7.5rem;
  }
  .block__reminder {
    margin-bottom: 2rem;
  }
  
  .container {
    max-width: 1160px;
    margin: 0 auto;
  }
  
  /* Plan Block */
  .block-plans .grid {
    gap: 5rem 2.5rem;
  }
  
  .block-plans .card_ {
    max-width: 500px;
    margin: 0 auto;
  }
  .block-plans .card--small {
    max-width: 300px;
    margin: 0 auto;
  }
  
  /* Cards */
  .card_ {
    border-radius: 7px;
    box-shadow: 0 0 5px 3px #eeeeeeb5;
    overflow: hidden;
    background: white;
    padding: 1rem 0.6rem;
  }
  .card--gap {
    margin: 0.7rem;
    padding: 0;
  }
  
  .card__header {
    text-align: center;
  }
  .card__header,
  .card__body {
    padding: 0.5rem 1.5rem;
  }
  .card--primary .card__header {
    background: var(--primary-color);
    color: #fff;
  }
  
  .card--primary .badge--primary {
    background: #126de4;
  }
  .card--secondary .badge--secondary {
    background: #02cdf1;
  }
  
  /* Plans */
  .plan {
    transition: transform 0.2s ease-out;
    margin: 0.5rem;
  }
  
  .plan__name {
    text-align: center;
  }
  .plan__subheader,
  .plan__specific__info {
    margin: 0;
  }
  .plan__specific__info {
    color: #3d3d3d;
    font-weight: 600;
    font-size: 1rem;
  }
  .plan__name__women {
    color: var(--women-packages-color);
  }
  .plan__name__men {
    color: var(--men-packages-color);
  }
  .plan__name__family {
    color: var(--family-packages-color);
  }
  .plan__price {
    color: #3d3d3d;
    font-size: 2rem;
    font-weight: 600;
    margin: 0.5rem 0;
  }
  .plan__billing-cycle {
    font-size: 1.5rem;
    font-weight: 300;
    opacity: 0.8;
    margin-right: 1rem;
  }
  .plan__description {
    display: block;
    text-align: center;
    font-size: 1.125rem;
    font-weight: 300;
    letter-spacing: 1px;
    margin: 0 0 0.5rem 0;
  }
  .plan .list-item {
    margin-bottom: 1.25rem;
  }
  .plan--popular {
    transform: scale(1.01);
  }
  
  .plan:hover {
    transform: scale(1.02);
  }
  .plan--popular:hover {
    transform: scale(1.02);
  }
  
  .plan--popular .card__header {
    position: relative;
  }
  .plan--popular .card__header::before {
    content: url(../images/popular.svg);
    width: 40px;
    display: inline-block;
    position: absolute;
    top: -6px;
    right: 5%;
  }
  /* Lists */
  ul {
    list-style: none;
    padding-left: 0;
    margin-top: 0;
  }
  .list {
    padding-left: 2rem;
  }
  .list__item {
    list-style-image: url("data:image/svg+xml,");
  }
  .list__item::marker {
    font-size: 2rem;
    line-height: 0.1;
  }
  .list--tick .list__item {
    margin-bottom: 0.625rem;
    font-size: 1rem;
    color: #3b3b3b;
  }
  
  @media screen and (min-width: 1024px) {
    .list--tick .list__item {
      padding-left: 0rem;
      font-size: 1.1rem;
    }
  }
  
  .tabs {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
  
  .tab-button {
    padding: 10px 20px;
    margin: 0 10px;
    cursor: pointer;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .tab-button:hover {
    background-color: #ddd;
  }
  
  .packages-container,
  .package-details {
    margin: 20px auto;
    width: 80%;
    max-width: 800px;
    text-align: center;
  }
  .packages-container-all {
    text-align: center;
    padding: 0 1rem;
    border: 2px solid black;
  }
  
  .package {
    display: grid;
    padding: 1rem;
    margin: 10px;
    border-radius: 5px;
    cursor: pointer;
    background-color: #f9f9f9;
    box-shadow: 1px 1px 3px #f2f2f2;
  }
  
  .package:hover {
    background-color: #f0f0f0;
  }
  
  .package-details {
    border-top: 1px solid #ccc;
    padding-top: 20px;
  }
  .single-package-detail .splide__list {
    display: flex !important;
    justify-content: center;
    max-width: 500px;
    margin: 0 auto !important;
  }
  
  .single-package-detail .splide__slide {
    width: 100%;
  }
  
  /* SplideJS */
  /* Arrows */
  .splide__arrow {
    background-color: transparent !important;
    padding: 3px !important;
    width: 35px !important;
    height: 35px !important;
    transition: background-color 0.3s ease, transform 0.3s ease;
  }
  
  .splide__arrow svg {
    fill: #252627 !important;
    transition: fill 0.3s ease;
  }
  
  .splide__arrow:hover {
    fill: #252627 !important;
    background-color: #e8edff !important;
  }
  
  /* Bullets */
  .splide__pagination__page {
    background: #81848a !important;
    border: 0;
    border-radius: 50%;
    display: inline-block;
    height: 4.5px !important;
    width: 4.5px !important;
    margin: 3px;
    opacity: 0.7;
    padding: 0;
    transition: transform 0.2s linear;
  }
  
  .splide__pagination__page.is-active {
    background: #212325 !important;
  }
  .is-visible.is-active {
    transition: transform 0.2s ease-out;
    transform: scale(1.01);
  }
  .splide__list {
    align-items: center !important;
  }
  .icon {
    border-radius: 0;
  }
  
  .cz_post_content ul {
    margin: 0 !important;
  }
  .splide__pagination {
    bottom: revert-layer !important;
  }
  
  .splide__arrow--prev {
    left: 0 !important;
  }
  
  .splide__arrow--next {
    right: 0 !important;
  }
  .block__gap {
    margin-top: 6rem;
  }
  .formHeader {
    margin-top: 8.5rem;
  }
  @media screen and (min-width: 1024px) {
    .block__gap,
    .formHeader {
      margin-top: 9rem;
    }
  }
  .page_content {
    margin: 10px !important;
  }
  
  .hidden-form {
    display: none;
  }
  .plan__audyt {
    color: var(--audyt);
  }
  
  .splide__list {
    align-items: stretch !important;
  }
  .splide__slide_pa {
    display: grid;
  }
  .card_ {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .card--secondary {
    height: 100%;
    display: flex;
    flex-direction: column;
    display: block;
  }
  
  
  @media screen and (min-width: 1024px) {
    .card_ {
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
    .splide__slide{
      display: grid;
    }
   .plan{
    display: grid;
   }
  }
  
  .block__header_{
      margin:0;
      text-align:center;
  }