:root {
  /* primary colors */
  --color-pale-blue: hsl(225, 100%, 94%);
  --color-bright-blue: hsl(245, 75%, 52%);
  /* neutral colors */
  --color-very-pale-blue: hsl(225, 100%, 98%);
  --color-desaturated-blue: hsl(224, 23%, 55%);
  --color-dark-blue: hsl(223, 47%, 23%);
}

/* CSS reset */

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: var(--color-desaturated-blue);
  background-color: var(--color-pale-blue);
  background-image: url(../assets/images/pattern-background-mobile.svg);
  background-repeat: no-repeat;
  background-size: contain;
  font-family: "Red Hat Display", sans-serif;
}

img {
  width: 100%;
}
a {
  color: var(--color-bright-blue);
}

@media screen and (min-width: 767px) {
  body {
    background-image: url(../assets/images/pattern-background-desktop.svg);
  }
}

.order-summary {
  min-height: 100vh;
  display: grid;
  justify-content: center;
  align-items: center;
  padding: 1.5rem;
}

.order-summary__card {
  max-width: 400px;
  background: #fff;
  border-radius: 15px;
}

.order-summary__illustration {
  display: block;
  border-radius: 15px 15px 0 0;
}

.order-summary__wrapper {
  padding: 2rem 2rem 1rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.order-summary__header {
  text-align: center;
}

.order-summary__title {
  color: var(--color-dark-blue);
  font-size: 1.6rem;
  font-weight: 900;
  margin-bottom: 0.8rem;
}

.order-summary__plan {
  padding: 1rem;
  border-radius: 15px;
  background-color: var(--color-very-pale-blue);
}

.order-summary__plan,
.order-summary__plan-details {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}

.order-summary__plan-icon {
  width: 40px;
  height: 40px;
}

.order-summary__plan-name {
  color: var(--color-dark-blue);
  font-weight: 800;
}

.order-summary__change-link {
  font-weight: 700;
  transition: all 0.3 ease;
}

.order-summary__change-link:hover {
  color: hsl(244.51deg 82.61% 68.43%);
  text-decoration: none;
}

.order-summary__actions {
  display: flex;
  flex-direction: column;
}

.order-summary__btn {
  cursor: pointer;
  font-weight: 800;
  white-space: nowrap;
  text-align: center;
  margin: 0.4rem 0;
  padding: 1rem 4vw;
  border: 0;
  outline: 0;
  border-radius: 15px;
  transition: all 0.3s ease;
}
.order-summary__btn--primary {
  color: #fff;
  background: var(--color-bright-blue);
  box-shadow: 0 5px 30px hsla(245, 75%, 52%, 0.356);
}

.order-summary__btn--primary:hover {
  background: hsl(244.51deg 82.61% 68.43%);
}

.order-summary__btn--secondary {
  background: none;
  color: var(--color-desaturated-blue);
}
.order-summary__btn--secondary:hover {
  color: var(--color-dark-blue);
}

@media screen and (min-width: 767px) {
  .order-summary__wrapper {
    padding: 2rem 2.2rem;
  }
}
