:root {
  --primary-color: #499aa2;
  --secondary-color: #00d9ff;
  --accent-color: #ff3400;
  --headings-color: #222;
  --body-color: #585858;
  --body-darker-color: #5c5577;
  --border-color: #ccc;
  --border-radius: 30px;
}

html {
  scroll-behavior: smooth;
}

/* Typography */
.decorations {
  color: var(--primary-color);
}
::selection {
  background: var(--primary-color);
  color: white;
}
body {
  font-family: "Inter", Arial, Helvetica, sans-serif, sans-serif;
  font-size: 1.25rem;
  line-height: 1.4;
  color: var(--body-color);
  margin: 4px;
}

.block__image {
  border-radius: 15px;
  object-fit: cover;
  height: auto;
  width: 100%;
}

h1,
h2,
h3 {
  color: var(--headings-color);
  margin: 0.8rem 0 0.625rem 0;
  line-height: 1.1;
}
h1 {
  font-size: 2rem;
}
h2 {
  font-size: 1.8rem;
}
h3 {
  font-size: 1.875rem;
}
p {
  margin: 0.2rem 0 0.7rem 0;
}

@media screen and (min-width: 1024px) {
  body {
    font-size: 1.125rem;
  }
  h1 {
    font-size: 3.5rem;
  }
  h2 {
    font-size: 2.9rem;
  }
  h3 {
    font-size: 2rem;
  }
}

/* Links */
a {
  text-decoration: none;
  color: var(--body-color);
}

/* Icons */
.icon {
  width: 40px;
  height: 40px;
}

.icon--small {
  width: 30px;
  height: 30px;
}
.icon--primary {
  fill: var(--primary-color);
}
.icon--white {
  fill: #fff;
}
.icon-container {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  background: #f3f9fa;
  width: 64px;
  height: 64px;
  border-radius: 100%;
}
.icon-container--accent {
  background: var(--accent-color);
}
.icon--large {
  font-size: 2rem; /* Or any size that suits your design */
}

/* Buttons */
.btn {
  cursor: pointer;
  font-size: 1.125rem;
  font-weight: 600;
  text-transform: uppercase;
  white-space: nowrap;
  text-align: center;
  margin: 0.625rem 0;
  padding: 1.25rem 2vw;
  border: 0;
  outline: 0;
  border-radius: 30px;
  letter-spacing: 1px;
}
.btn .icon {
  vertical-align: center;
  width: 1.25rem;
  height: 1.25rem;
  margin-right: 0.625rem;
}
.btn--primary {
  background: #499aa2;
  color: #fff;
}
.btn--primary:hover {
  background: #5abfc9;
}
.btn--secondary {
  background: #4c849c;
  color: #fff;
}
.btn--secondary:hover {
  background: #00c8eb;
}
.btn--accent {
  background-color: var(--accent-color);
  color: #fff;
}
.btn--accent:hover {
  background: #ec3000;
}
.btn--outline {
  background: #fff;
  color: var(--headings-color);
  border: 2px solid var(--headings-color);
}
.btn--outline:hover {
  background: var(--headings-color);
  color: #fff;
}
.btn--stretched {
  padding-left: 3.75rem;
  padding-right: 3.75rem;
}
.btn--block {
  width: 100%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

@media screen and (min-width: 1024px) {
  .btn {
    font-size: 0.9375rem;
  }
}
/* Cards */
.card {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 1rem;
  border-radius: 7px;
  box-shadow: 0 0 20px 10px #f3f3f3;
  overflow: hidden;
  height: auto;
  padding: 0.8rem;
}
/* Text styles */

.card__header img {
  width: 100%;
  height: 30px;
  border-radius: 100%;
  object-fit: cover;
  object-position: 0% 10%;
}

.card__body {
  padding: 0.3rem;
}
.card__title {
  color: #3d3d3d;
  font-size: 1.1rem;
  font-weight: bold;
  margin-bottom: 0.3rem;
}
.card--primary .card__header {
  background: #f4eeb1;
  color: #fff;
}
.card--secondary .card__header {
  background: #74d6fc;
  color: #fff;
}
.card--third .card__header {
  background: #dbe9ff;
  color: #fff;
}
.card--primary .badge--primary {
  background: #126de4;
}
.card--secondary .badge--secondary {
  background: #02cdf1;
}

.btn i.ph {
  color: white; /* Ustawia kolor ikony na biały */
  margin-right: 8px; /* Dodaje odstęp między ikoną a tekstem */
  font-size: 1.5rem; /* Dopasuj rozmiar ikony do swoich potrzeb */
}
/* Plans */
.plan {
  transition: transform 0.2s ease-out;
}

.plan__name {
  color: #fff;
  margin: 0;
  font-weight: 500;
  font-size: 1.5rem;
}
.plan__price {
  font-size: 3.75rem;
}
.plan__billing-cycle {
  font-size: 1.5rem;
  font-weight: 300;
  opacity: 0.8;
  margin-right: 1rem;
}
.plan__description {
  display: block;
  font-size: 1.25rem;
  font-weight: 300;
  letter-spacing: 1px;
}
.plan .list-item {
  margin-bottom: 1.25rem;
}
.plan--popular {
  transform: scale(1.1);
}

.plan:hover {
  transform: scale(1.05);
}
.plan--popular:hover {
  transform: scale(1.15);
}

.plan--popular .card__header {
  position: relative;
}
.plan--popular .card__header::before {
  content: url(../images/popular.svg);
  width: 40px;
  display: inline-block;
  position: absolute;
  top: -6px;
  right: 5%;
}

@media screen and (min-width: 1024px) {
  .plan__name {
    font-size: 0.875rem;
  }
  .plan__price {
    font-size: 3.125rem;
  }
  .plan__billing-cycle {
    font-size: 1rem;
  }
  .plan__description {
    font-size: 1.0625rem;
  }
} /* Grids */
.grid {
  display: grid;
  justify-items: center;
  gap: 1rem;
}
@media screen and (min-width: 768px) {
  .grid--1x2 {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (min-width: 1024px) {
  .grid--1x3 {
    grid-template-columns: repeat(3, 1fr);
  }
}
/* Blocks */
.block {
  --padding-vertical: 1rem;
  padding: var(--padding-vertical) 0.4rem;
}
.block__header {
  text-align: center;
}
.block__header__gap {
  margin-bottom: 4rem;
}
.block__heading {
  margin-top: 0;
}
.container {
  max-width: 1140px;
  margin: 0 auto;
}
/* Hero */
.hero__tagline {
  font-size: 1.25rem;
  color: #b9c3cf;
  letter-spacing: 1px;
  margin: 1.25rem 0 3.125rem;
}
.hero__image {
  width: 100%;
}
@media screen and (min-width: 768px) {
  .hero {
    padding-top: 0;
  }
  .hero__content {
    text-align: left;
    align-self: center;
  }
} /* Plan Block */
.block-plans .grid {
  gap: 3rem 2rem;
}

.block-plans .card {
  max-width: 390px;
  margin: 0 auto;
}
/* Contact block */
.block-contacts .card {
  text-align: center;
  padding: 2rem;
}
.block-contacts .grid {
  gap: 1rem 2rem;
}

/* aa */
.content--groups {
  text-align: center;
  font-weight: 700;
  padding: 1rem;
}

.content--groups__image {
  max-width: 200px;
  height: auto;
  object-fit: cover;
  border-radius: 100%;
}

/*  */
.card--content {
  border: 2px solid #d2d2d2;
  border-radius: 30px;
  padding: 0.8rem;
  transition: all 0.3s ease;
}
.card--content:hover {
  border: 2px solid var(--primary-color);
  color: var(--primary-color);
}
.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card--content__title {
  font-size: 1.2rem;
  font-weight: 600;
  margin: 0;
}
.collapsible {
  width: 100%;
}

.collapsible__chevron {
  font-size: 1.5rem;
  padding: 0.5rem;
  background-color: #3d3d3d;
  border-radius: 100%; /* Dopasuj rozmiar do wymagań */
  color: rgb(255, 255, 255); /* Kolor ikony */
  transform: rotate(0deg); /* Początkowa rotacja */
  transition: transform 0.3s; /* Płynne obracanie */
}
.collapsible--expanded .collapsible__chevron {
  transform: rotate(90deg); /* Obrót w trybie rozwiniętym */
}
.collapsible__content {
  max-height: 0;
  overflow: hidden;
  opacity: 0;
  transition: all 0.3s ease;
}
.collapsible--expanded .collapsible__chevron {
  transform: rotate(90deg);
}

.collapsible--expanded .collapsible__content {
  max-height: 100%;
  opacity: 1;
  margin: 0.4rem 0;
}

ul {
  padding: 0;
  list-style-type: none;
}

.ph-asclepius {
  font-size: 3rem;
  color: white;
  padding: 0.5rem;
  background: rgb(102, 215, 216);
  border-radius: 100%;
}

.collapsible__preparation {
  padding: 0.3rem 1.3rem;
  font-weight: 600;
  transition: all 0.3s ease;
}

.flex {
  display: flex;
  justify-content: space-between; /* Równomierne rozmieszczenie */
  align-items: center; /* Wyrównanie pionowe */
  flex-wrap: wrap; /* Zwijanie wierszy, jeśli zabraknie miejsca */
  overflow: hidden; /* Ukrycie elementów wychodzących poza układ */
}

.card--content {
  max-width: 100%; /* Dopasowanie do kontenera nadrzędnego */
  position: relative;
}

.card--content__title {
  flex-grow: 1; /* Rozciąganie na dostępne miejsce */
  white-space: nowrap; /* Zapobieganie zawijaniu tekstu */
  overflow: hidden; /* Ukrycie nadmiaru tekstu */
  text-overflow: ellipsis; /* Dodanie wielokropka dla długiego tekstu */
}

.collapsible__chevron {
  flex-shrink: 0; /* Chevron nie powinien się zmniejszać */
}
.contact--container {
  margin-top: 2rem;
}
.card--contact {
  width: 80%;
  box-shadow: 0 0 20px 10px #f3f3f3;
  overflow: hidden;
  height: auto;
  padding: 0.8rem;
  border-radius: 15px;
}

.ph-question-mark {
  width: 10rem;
  padding: 10rem;
}
