* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: hsl(0, 0%, 95%);
  font-family: "Lexend Deca", sans-serif;
  font-size: 1rem;
}

section {
  display: flex;
  max-width: 53rem;
}

@media (max-width: 884px) {
  section {
    flex-wrap: wrap;
  }
}

.card {
  padding: 2rem;
}
.sedan-card {
  background-color: hsl(31, 77%, 52%);
  border-radius: 15px 0 0 15px;
}
.suv-card {
  background-color: hsl(184, 100%, 22%);
}
.luxury-card {
  background-color: hsl(179, 100%, 13%);
  border-radius: 0 15px 15px 0;
}
button {
  cursor: pointer;
  padding: 0.8rem 2.5rem;
  border-radius: 50px;
  border: none;
}
button:hover {
  color: hsl(0, 0%, 95%);
  border: 2px solid hsl(0, 0%, 95%);
  background-color: transparent;
}
.sedan-button {
  color: hsl(31, 77%, 52%);
}
.suv-button {
  color: hsl(184, 100%, 22%);
}
.luxury-button {
  color: hsl(179, 100%, 13%);
}
p {
  margin: 0 0 5rem 0;
  color: hsla(0, 0%, 100%, 0.75);
}
h2 {
  margin: 2rem 0;
  color: hsl(0, 0%, 95%);
  font-family: "Big Shoulders Display", sans-serif;
}
