@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  height: 100vh;
  background-color: hsl(212, 45%, 89%);
  border: 3px solid red;
  font-family: "Outfit", sans-serif;
  font-size: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  border: 3px solid black;
}
.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  background-color: hsl(0, 0%, 100%);
  border: 5px solid pink;
}
.image-container {
  border: 4px solid brown;
  overflow: hidden;
}
img {
  height: 30vh;
}
.text {
  border: 4px solid purple;
  text-align: center;
}
.text-1 {
  font-size: 1.5rem;
}
