* {
  box-sizing: border-box;
}
body {
  font-family: "Karla", sans-serif;
  color: white;
  background: hsl(204, 43%, 93%);
}
main {
  min-height: 100vh;
  display: grid;
  justify-content: center;
  align-content: center;
}
.container {
  display: grid;
  max-width: 40rem;
  padding: 0.3rem;
}
section {
  padding: 2rem;
}
h2,
h3 {
  font-weight: 700;
}

.community-section {
  background-color: hsl(0, 0%, 100%);
}
.community-header {
  color: hsl(179, 62%, 43%);
}
.guarantee-description {
  color: hsl(71, 73%, 54%);
}
.library-description {
  color: hsl(218, 22%, 67%);
  margin-top: 0;
  line-height: 1.6;
}

.monthly-subscription-section {
  background-color: hsl(179, 62%, 43%);
}
.signup-button {
  width: 100%;
  margin-top: 1rem;
  padding: 1rem;
  background-color: hsl(71, 73%, 54%);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 0 2px 10px rgba(30, 30, 30, 0.312);
}
a {
  font-weight: 700;
  color: white;
  text-decoration: none;
}

.benefits-section {
  background-color: hsl(179, 47%, 52%);
}
.benefits-description {
  width: 20ch;
  color: hsl(204, 43%, 93%);
}

@media screen and (min-width: 600px) {
  .container {
    grid-template-columns: repeat(2, 1fr);
  }
  .community-section {
    grid-column: 1/3;
  }
}
