:root {
  --color-white: hsl(0, 0%, 100%);

  --color-stone-100: hsl(30, 54%, 90%);
  --color-stone-150: hsl(30, 18%, 87%);
  --color-stone-600: hsl(30, 10%, 34%);
  --color-stone-900: hsl(24, 5%, 18%);

  --color-brown-800: hsl(14, 45%, 36%);

  --color-rose-800: hsl(332, 51%, 32%);
  --color-rose-50: hsl(330, 100%, 98%);
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.young-serif-regular {
  font-family: "Young Serif", serif;
  font-weight: 400;
  font-style: normal;
}
.outfit {
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
}
body {
  font-family: "Outfit", sans-serif;
  color: var(--color-stone-600);
}

h1,
h2 {
  font-family: "Young Serif", serif;
  margin-bottom: 1rem;
}

img {
  width: 100%;
}
li {
  margin-bottom: 0.7rem;
}
.recipe__wrapper {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 32px;
}

.recipe-content__heading {
  font-size: 1.7rem;
  font-weight: 400;
  color: var(--color-brown-800);
}
.recipe__title {
  font-size: 2.2rem;
  font-weight: 400;
  line-height: 1;
  color: var(--color-stone-900);
}

.recipe__prep-time {
  border-radius: 15px;
  padding: 25px 30px;
  background-color: var(--color-rose-50);
}

.recipe__prep-time-heading {
  font-family: "Outfit", sans-serif;
  font-size: 1.4rem;
  font-weight: 600;
  color: var(--color-rose-800);
}

.dec {
  border: 1px solid hsl(0deg 0% 87.84%);
}
.recipe-content__list {
  padding-left: 20px;
}

ol li {
  padding-left: 20px;
}

ol li::marker {
  font-family: "Outfit", sans-serif;
  color: var(--color-brown-800);
  font-weight: 700;
}

.highlight {
  color: var(--color-stone-600);
  font-weight: 700;
}

ul {
  list-style: none;
  padding-left: 0;
}

ul li {
  position: relative;
  padding-left: 40px;
  margin-bottom: 0.5em;
}

ul li::before {
  content: "•";
  position: absolute;
  left: 0;
  color: var(--color-brown-800);
  font-size: 1.2rem;
}
ul li.prep-time__item::before {
  content: "•";
  position: absolute;
  left: 0;
  color: var(--color-rose-800);
  font-size: 1.2rem;
}

.recipe-block__table-body {
  font-size: 1.1rem;
}

.recipe-block__table {
  width: 100%;
  border-collapse: collapse;
  margin: 1em 0;
  font-family: sans-serif;
  font-size: 1rem;
}

.recipe-block__row {
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
}

.recipe-block__row:first-child {
  border-top: none;
}

.recipe-block__row:last-child {
  border-bottom: none;
}
.recipe-block__cell {
  padding: 15px 0 15px 30px;
}

.recipe-block__cell--label {
  text-align: left;
  color: #333;
  font-weight: 500;
  color: var(--color-stone-600);
}

.recipe-block__cell--value {
  text-align: left;
  color: var(--color-brown-800);
  font-weight: bold;
}

@media screen and (min-width: 700px) {
  body {
    background-color: var(--color-stone-100);
    padding: 32px 0;
  }
  .recipe {
    padding: 32px;
    max-width: 710px;
    margin: 0 auto;
    background-color: var(--color-white);
  }
  .recipe__wrapper {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 32px 0;
  }
  .recipe__image {
    border-radius: 15px;
  }
}
